@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*****************Start LoginPage styles**************/
.loginPage-container{
    background: #f2f3f5;
    height: 100vh;
}
.loginPage{
    width: 65%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headings-container{
    width: 50%;
}
.loginPage h1{
    color: #1877f2;
    font-weight: 700;
    font-size: 60px;
}
.loginPage h2{
    color: #1c1e21;
    margin-top: 5px;
    padding: 0 0 20px;
    font-weight: 400;
    font-size: 28px;
}
.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-container a{
    text-decoration: none;
}
.login-form{
    background: #ffffff;
    padding: 10px;
    border-radius: 7px;
    border-bottom: 1px solid #f2f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form input{
    text-indent: 15px;
    font-size: 17px;
}
.email-field input, .password-field input, .login-button{
    width: 390px;
    padding: 15px 0;
    border-radius: 7px;
    border: 1px solid #f2f3f5;
    margin-top: 15px;
}
.login-button{
    background: #1877f2;
    color: #ffffff;
    padding: 15px 16px;
    font-weight: 600;
    font-size: 20px;
}
.signup-button{
    background: #42b72a;
    color: #ffffff;
    padding: 16px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 7px;
}
/**************End LoginPage styles*********************************/
/***************Signup Form*********************************/
.signup-page{
    background-image: url('./utils/fb-login-page.PNG');
    background-color: #ffffff;
    height: 100%;
    opacity: 10;
}
.signup-form-container{
    width: 29%;
    margin: 140px auto;
    border: 1px solid rgb(168, 167, 167);
    background: #fff;
    /* margin-top: 150px; */
}
.head-elements{
    display: flex;
    justify-content: space-between;
}
.form-heading{
    margin: 5px 0px 15px 15px;
}
.form-heading p{
    font-size: 15px;
    color:rgb(168, 167, 167);
    margin-top: 5px;
}
.signup-form input{
    font-size: 16px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
    text-indent: 15px;
    border-radius: 5px;
    border: 1px solid rgb(168, 167, 167);
}
.signup-form .name-input{
    width: 44%;
    margin: 14px 12px 5px 12px;
}
.email-password-inputs{
    width: 93.5%;
}
.signup-form .static-inputs{
    background: rgb(247, 245, 245)
}
.signup-form .dob{
    width: 30%;
    height: 40px;
    margin-right: 8px;
    font-size: 16px;
}
.signup-form .day{
    margin-left: 12px;
}
.signup-form fieldset{
    border: none;
    display: flex;
    justify-content: space-around;
    border-radius:  5px;
}
.gender-radio{
    border: 1px solid rgb(168, 167, 167);
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.gender-radio label{
    margin-left: 12px;
}
.gender-radio .gender-input{
    margin-right: 12px;
}
.signup-form .submit-btn{
    width: 45%;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #42b72a;
    border: none;
    padding: 8px 15px;
    margin-top: 20px;
    margin-left: 125px;
    margin-bottom: 20px;
}
/***************End Signup**********************************/

/******************Start HomePage styles**********************************************/
/******************Start Header styles******************************/
.header-container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 15px;
    background: white;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
}
.row{
    display: flex;
    justify-content: space-around;
}
.left-nav .search-form{
    width: 250px;
    position: relative;
}
.left-nav .search-field{
    width: 96.5%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #f0f2f5;
    text-indent: 35px;
    font-size: 15px;
}
.left-nav .search-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}
.center-nav{
    height: 50px;
    width: 500px;
    text-align: center;
    margin-right: 150px;
}
.center-nav .nav-icon{
    width: 111.59px;
}
.center-nav .home{
    border-bottom: 3px solid rgb(43, 43, 247);
}
.center-nav img{
    border-radius: 20px;
}
/* .center-nav .home:hover, .marketplace:hover, .groups:hover, .feeds:hover{
    background: rgb(228, 225, 225); 
} */
.right-nav{
    width: 190px;
    text-align: center;
}
.right-nav div{
    background: #f2f3f5;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.right-nav .menu-icon, .notifications-icon{
    margin-top: 7px;
}
.right-nav .messenger-icon{
    margin-top: 10px;
}
.right-nav .acc-photo{
    border-radius: 20px;
}
/***************End of Header styles******************/

/****************MainBody styles****************/
.main-body-container{
    background: #f2f3f5;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
/******************LeftSideBar styles*************************/
.menu-items-container{
    margin-top: 10px;
    width: 23%;
    position: fixed;
}
.menu-item-container{
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 7px 0;
    font-weight: 500;
    font-size: 15px;
}
.menu-item-container:hover{
    background: rgb(228, 225, 225);
}
.menu-item-container .sidebar-menu-icon{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.sidebar-menu-icon-container{
    padding: 0 8px 0 15px;
}
.shortcuts-label{
    /* padding: 5px 15px; */
    color: #656768;
}
.footer-container{
    font-size: 13.5px;
    margin-top: 10px;
    margin-left: 20px;
    color: #656768;
}
/*************End LeftSidebar styles******************/

/*********************Start Newsfeed styles*******************/
.news-feed-container{
    width: 45%;
    margin-top: 25px;
    margin-left: 29vw;
}
.stories-reels-container{
    background: white;
    border-radius: 10px;
    /* border: 1px solid red; */
}
.stories-reels-tab-container{
    display: flex;
    justify-content: space-around;
}
.tab{
    display: flex;
    align-items: center;
    padding: 15px 0;
    width: 45%;
}
.tab-one{
    border-bottom: 3px solid rgb(0, 81, 255);
}
.tab-one p{
    color:rgb(0, 81, 255)
}
.tab-icon{
    margin-left: 100px;
}
.story{
    position: relative;
    margin: 15px 5px;
}
.story .story-preview-image{
    border-radius: 10px;
}
.story .acc-circle{
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px solid rgb(0, 81, 255);
}
.story .acc-label{
    position: absolute;
    top: 180px;
    left: 2px;
    color: white;
    font-weight: 500;
    font-size: 13px;
}
.stories-container{
    display: flex;
}
/**************Start StatusForm styles**************/
.status-form-container{
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
    background: white;
    margin-top: 20px;
}
.inline-row{
    display: flex;
    align-items: center;
    width: 100%;
}
.status-field input{
    width: 40vw;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    text-indent: 15px;
    background: #f2f3f5;
    color: #656768;
    font-size: 17px;
}
.form-buttons{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 0px 0px;
    padding: 9px 10px;
    border-top: 1px solid #e2e2e2;
}
.ilbutton-container{
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 35px;
    /* margin: 6px 0; */
    width: 30%;
    border-radius: 5px;
}
.form-buttons .ilbutton-container p{
    margin-left: 10px;
}
.ilbutton-container:hover{
    background-color:#f2f3f5;
}
/**************End StatusForm styles***********************/

/******************Start Contacts styles********************/
.contacts-container{
    margin-top: 10px;
    width: 23%;
    position: fixed;
    right: 0;
}
.hrline{
    margin-left: 15px;
    border-top: 1px solid grey;
    padding: 15px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    color: #656768;
}
.contacts-header-icons{
    margin-right: 10px;
}
/*******************End Contacts styles****************/
/*********************End of MainBody styles*****************************/
/*************End HomePage styles**********************************************/


/**********Start Post styles*********************/
.post-container{
    margin-top: 20px;
    border-radius: 5px;
    background: #ffffff;
}
.post-info-container{
    display: flex;
    padding: 10px;
}
.post-info{
    margin-left: 10px;
}
.post-info .postOwner{
    font-weight: 500;
    font-size: 15px;
    color: #050505;
}
.post-info .timePosted-privacy{
    color: #656768;
    font-size: 13px;
}
.caption{
    padding: 10px;
}
.post-image{
    width: 100%;
}
.post-stats{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    color: #656768;
}
.react-buttons-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin: 0px 10px 10px 10px;
    padding: 2px 30px;
    color: #656768;
    font-size: 15px;
}
.comment-field{
    border-top: 1px solid #f2f3f5; 
    padding: 0px 10px 10px;
    color: #656768;
    font-weight: 500;
    font-size: 14px;
}


/************************Start Profile styling***************************************************/
/*****************Profile Header/Cover*************************/
.profile-container{
    width: 80vw;
    margin: auto;
    
}
.cover-container{
    /* width: 100vw; */
    background: white;
}
.profile-info-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    border-bottom: 1px solid grey;
}
.name-friends-container{
    display: flex;
    align-items: flex-end;

}
.name-friends-container .profile-photo{
    width: 180px;
    height: 180px;
    border-radius: 100px;

}
.name-friends-container .name-friends{
    margin-left: 30px;
}
.add-story-button{
    background: rgb(16, 85, 223);
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.edit-profile-button{
    background: #f2f3f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
.arrow-down-button{
    width: 100px;
    margin: 0 15px;
    background: #f2f3f5;
}
.tabs-and-button-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 30px 0px;
    padding: 20px 20px 0px 0px;
    /* border: 1px solid red; */
}
.tabs-container{
    display: flex;
    /* border: 1px solid red; */
}
.profile-tab{
    margin-left: 20px;
    width: 60px;
    text-align: center;
}
.posts{
    border-bottom: 2px solid rgb(16, 85, 223)
}
.more-tab{
    display: flex;
}
/*************End of ProfileCover/Header****************/
/***************Start Intro Component********************************/
.intro-container{
    width: 32vw;
    background: white;
    border-radius: 7px;
    padding: 10px;
}
.intro-container h3{
    margin: 10px 10px;
}
.bio{
    text-align: center;
}
.edit-button{
    width: 95%;
    background:rgb(199, 196, 196);
    margin: 10px 10px;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    margin: 20px 0px;
}
.intro-container .intro-row{
    display: flex;
    margin: 20px 0px;
}
.intro-container .intro-row p{
    margin-left: 15px;
}
.joined{
    margin-left: 10px;
}
.grid{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 20px;
}
/*************status form*******************/
.profile-status-form{
    border: 2px solid red;
}
/*************end status form*****************/
/***********Start PostsManager**********************/
.posts-manager-container{
    background: white;
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px 20px 0px 20px;
}
.posts-manager-grid{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e5e6e9;
    align-items: center;
}
.views-grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.views-grid .button-content{
    display: flex;
    align-items: center;
    padding: 7px;
}
.button-one{
    background:rgb(201, 199, 199);
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}
.tab-one{
    width: 300px;
    border-bottom: 2px solid rgb(16, 85, 223);
}
.tab-two{
    width: 300px;
}
.tab-one .icon{
    margin-left: 100px;
}
.tab-two .icon{
    margin-left: 80px;
}
/*******************End Profile styles**************************************************/






